<ion-header>
  <ion-toolbar>
    <ion-title>
      CULTURE  AFRICA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

<H2>CONOCE LOS MEJORES RESTAURANTES CON LA MAS ELEGANTE EXCENCIA DE AFRICA </H2>


</div>

<main>      
  
  <fieldset>

    <label for="text"> username </label>
    <input type=" text " name= " username " id= " username" placeholder="Usuario">
    <br><br>
    
    <label for="password"> Password </label>
    <input type="password" name= " password " id= " password" placeholder="password">
    <br><br>
    
    <ion-button expand= "block" SUCCESS (click)="ingreso()">LOGIN</ion-button>
    <br>
    <ion-button expand= "block" peligro (click)="registros()">REGISTRO</ion-button>
    
  </fieldset>
        
</main>

</ion-content>